.certificates-page {

  // padding: 16px;
  .admin-wrapper {
    padding: 16px;
  }

  .actions-row {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;

    .ant-space {
      gap: 12px !important; // Giãn cách đều giữa các nút
    }
  }

  .certificates-table {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
  }

  .delete-action {
    color: red;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}