.dashboard-page {
  // padding: 16px;

  // Các thẻ card thông kê
  .stats-row {
    margin-top: 16px;

    .ant-card {
      background: #fff;
      border-radius: 8px;

      h2 {
        margin-bottom: 8px;
      }

      p {
        margin: 0;
        font-weight: 600;
      }
    }
  }
}
